<div class="col-5 forms-container justify-content-center align-items-center">
    <form action="/restuarant/register" method="POST">
        <div class="form-group">
            <label for="name">Restuarant Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your restuarant name" required>
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your contact number"  required>
            </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email"  required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter a strong password"  required>
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-password" name="confirmPassword" placeholder="Confirm password"  required>
        </div>
        <button type="submit" class="btn btn-primary">Add Restuarant</button>
    </form>
    <br> 
</div>

